.app-home {
  //display: flex;
  background-color: #d8d8d8;
  height: 100vh;
  position: relative;
  //overflow: hidden;
  //outline: 0;
  top:0;
  left:0;
  bottom:0;
  right: 0;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

//.app-main {
//  margin-left: 72px;
//}